<?xml version="1.0" encoding="UTF-8"?>  
    <beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
           xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"  
           xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd  
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd  
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"  
           default-lazy-init="true">  
             
        <!-- 在spring里配置cache就和在spring配置数据库一样， -->  
        <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">  
            <property name="configLocation">    
                <value>ehcache.xml</value>    
            </property>   
            
        </bean>  
      	
        <bean id="methodCache" class="org.springframework.cache.ehcache.EhCacheCacheManager">  
            <property name="cacheManager">  
                <ref local="cacheManager"/>  
            </property>  
        </bean>  
        <!--  自定义方法拦截器-->
        <bean id="methodCacheInterceptor" class="com.ehcache.MethodCacheInterceptor">  
            <property name="methodCache"> 
              <!--属性setter-->
                <ref local="methodCache"/>  
            </property>  
        </bean>  
        
        <bean id="afterPrinter" class="Advisor.AfterPrinter">  
        <!--属性setter-->
            <property name="cache">  
                <ref local="methodCache"/>  
            </property>  
        </bean>  
        <bean id="methodCachePointCut" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">  
            <property name="advice">  
                <ref local="methodCacheInterceptor"/>  
            </property>  
            <!-- 下面的配置就使得在数据访问时，cache将拦截从数据库获取的数据，与cache数据比较，如有就不放入cache，没有就放入，更新到数据库去，也是先存入cache，再更新到数据库中去 -->  
            <property name="patterns">  
                <list>  
                    <value>.*getList</value>  
                </list>  
            </property>  
        </bean>  
      <!--  拦截代理类-->
        <bean  id = "personManager" class="org.springframework.aop.framework.ProxyFactoryBean">  
        <!--  拦截目标-->
            <property name="target">  
                <!--<bean class="manager.PersonManagerImpl"/>-->  
                <ref local="personManagerTarget"/>  
            </property>  
            <!--  拦截器名 多个以逗号分开-->
            <property name="interceptorNames">  
                <list>  
                    <value>methodCachePointCut</value>  
                </list>  
            </property>  
        </bean>  
        <bean id = "personManagerTarget" class="com.ehcache.PersonManagerImpl"/>  
    </beans>  